@media (min-width:750px){
  main{
    margin-top: 96px!important;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;


  }
  main section{
    width: 100%;
    height: auto;
  }

  /*Seccion1*/

  #seccion1{

    height: 400px;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    background-color: #0061a5;

  }
  #seccion1 .filaseccion1{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    align-items: flex-end;
    width: 100%;
    margin-top: 30px;
  }
  #seccion1 .filaseccion1 .filaseccion1Columna1{
    padding-top: 50px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    align-items: flex-end;
    width: 65%;
  }
  #seccion1 .filaseccion1 .filaseccion1Columna1 p{
    max-width: 95%;
    color:white;
    font-size: 30px;
    text-align: right;
    margin-bottom: 10px;

  }
  #seccion1 .filaseccion1 .filaseccion1Columna1 .inputseccion1{
    width: 400px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    background: white;

    border-radius: 4px;
    border: 1px solid #757878;
  }
  #seccion1 .filaseccion1 .filaseccion1Columna1 .inputseccion1 input{
    width: calc(100% - 32px);
    border: none;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }
  #seccion1 .filaseccion1 .filaseccion1Columna1 .inputseccion1 input::placeholder{
    color: #3661A1;
  }
  #seccion1 .filaseccion1 .filaseccion1Columna1 .inputseccion1 input:focus{
    outline: none;
  }
  #seccion1 .filaseccion1 .filaseccion1Columna1 .inputseccion1 img{
    width: 27px;
    height: 27px;
    cursor: pointer;

  }
  #seccion1 .filaseccion1 .filaseccion1Columna2{
    width: 25%;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;

  }
  #seccion1 .filaseccion1 .filaseccion1Columna2 img{
    width: 200px;
    height: 150px;
  }
  #seccion1 .fila2seccion1{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    width: 100%;
  }
  #seccion1 .fila2seccion1 button{
    margin: 30px;
    margin-bottom: 40px;
    height: 30px;
    width: 130px;
    border-radius: 6px;
    border: none;
    background-color: #23B534;
    text-align: center;
    color: white;
    cursor: pointer;
  }

/*Seccion2*/

#seccion2{

  height: 500px;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  background-color: #ffedd4;


}

#seccion2 .columnas{

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  height: 500px;
  -webkit-box-shadow: 12px 0px 26px -6px rgba(0,0,0,0.58);
  -moz-box-shadow: 12px 0px 26px -6px rgba(0,0,0,0.58);
  box-shadow: 12px 0px 26px -6px rgba(0,0,0,0.58);

}

#seccion2 .columna1{

  color:white;
  text-align: center;


}

#seccion2 .columna1 .fila1{

  font-weight: bolder;
  text-align: center;
  margin-top: 50px;
}

#seccion2 .columna1 .fila2{

  text-align: center;

}

#seccion2 .columna1 .fila3 img{

margin-top: 80px;
width: 100px;
height: 100px;

}

#seccion2 .columna1 .fila4 button{

  margin: 30px;
  margin-bottom: 40px;
  height: 30px;
  width: 130px;
  border-radius: 6px;
  border: none;
  background-color: #e37900;
  color: white;
  cursor: pointer;

}

#seccion2 .columna2{

color:white;
text-align: center;

}

#seccion2 .columna2 .fila1{

  font-weight: bolder;
  text-align: center;
  margin-top: 50px;

}

#seccion2 .columna2 .fila2{

  text-align: center;

}

#seccion2 .columna2 .fila3 img{

margin-top: 60px;
width: 100px;
height: 100px;

}

#seccion2 .columna2 .fila4 button{

  margin: 30px;
  margin-bottom: 40px;
  height: 30px;
  width: 130px;
  border-radius: 6px;
  border: none;
  background-color: #d03004;
  color: white;
  cursor: pointer;

}

#seccion2 .columna3{

  color:white;
  text-align: center;


}

#seccion2 .columna3 .fila1{

  font-weight: bolder;
  text-align: center;
  margin-top: 50px;

}

#seccion2 .columna3 .fila2{

  text-align: center;

}

#seccion2 .columna3 .fila3 img{

margin-top: 60px;
width: 100px;
height: 100px;

}

#seccion2 .columna3 .fila4 button{

  margin: 30px;
  margin-bottom: 40px;
  height: 30px;
  width: 130px;
  border-radius: 6px;
  border: none;
  background-color: #303030;
  color: white;
  cursor: pointer;

}

#seccion2 .columna4{

  color:white;
  text-align: center;

}

#seccion2 .columna4 .fila1{

  font-weight: bolder;
  text-align: center;
  margin-top: 50px;

}

#seccion2 .columna4 .fila2{

  text-align: center;

}

#seccion2 .columna4 .fila3 img {
margin-top: 60px;
width: 100px;
height: 100px;
}

#seccion2 .columna4 .fila4 button{

  margin: 30px;
  margin-bottom: 40px;
  height: 30px;
  width: 130px;
  border-radius: 6px;
  border: none;
  background-color: #006e46;
  color: white;
  cursor: pointer;

}

/*Seccion2-1*/

#seccion2-1{

  height: 300px;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  background-color: #008fb7;
}

#seccion2-1 .tri{

  text-align: center;
  justify-content: center;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;

}

#seccion2-1 .triangle{

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 125px 0 125px;
  border-color: #ff9200 transparent transparent transparent;
  line-height: 0px;
  _border-color: #ff9200 #000000 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  filter:drop-shadow(0 8px 8px rgba(0,0,0,0.2));

}

#seccion2-1 .triangle1{

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 125px 0 125px;
  border-color: #ff4f1f transparent transparent transparent;
  line-height: 0px;
  _border-color: #ff4f1f #000000 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  filter:drop-shadow(0 8px 8px rgba(0,0,0,0.2));


}

#seccion2-1 .triangle2{

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 125px 0 125px;
  border-color: #4c4c4c transparent transparent transparent;
  line-height: 0px;
  _border-color: #4c4c4c #000000 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  filter:drop-shadow(0 8px 8px rgba(0,0,0,0.2));

}

#seccion2-1 .triangle3{

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 125px 0 125px;
  border-color: #00b47d transparent transparent transparent;
  line-height: 0px;
  _border-color: #00b47d #000000 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  filter:drop-shadow(0 8px 8px rgba(0,0,0,0.2));

}
#seccion2-1 .filaseccion1 .filaseccion1Columna1{
  padding-top: 100px;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  align-items: flex-end;
  width: 65%;
}
#seccion2-1 .filaseccion1 .filaseccion1Columna1 p{
  max-width: 95%;
  color:#f4ef95;
  font-size: 50px;
  font-weight: bold;
  text-align: right;
  margin-bottom: 10px;
}
#seccion2-1 .fila2seccion1{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  width: 100%;
}
#seccion2-1 .fila2seccion1 button{
  margin: 30px;
  margin-bottom: 40px;
  height: 30px;
  width: 130px;
  border-radius: 6px;
  border: none;
  background-color: #23B534;
  text-align: center;
  color: white;
  cursor: pointer;
}


/*Seccion3*/

#seccion3{

  height: 400px;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  background-color: #008fb7;
  background-image: url("../../PuntoEdu/resources/desk.png");
  background-size: cover;

}

}
