@media (min-width:750px){
  main{
    margin-top: 96px!important;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
  }

  @font-face {
      font-family: abe;
      src: url(BebasNeue.otf);
  }

  main section{
    width: 100%;
    height: auto;
  }

  /*Seccion1*/

  #seccion1{

    height: 300px;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    background-color: white;

  }
  #seccion1 .filaseccion1{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    align-items: flex-end;
    width: 100%;

  }
  #seccion1 .filaseccion1 .filaseccion1Columna1{

    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    align-items: center;
    width: 65%;
    margin-bottom: 3%;
    margin-left: 10%;
    }
  #seccion1 .filaseccion1 .filaseccion1Columna1 .title{
    max-width: 95%;
    color:white;
    font-size: 30px;
    text-align: right;
    margin-bottom: 10px;

  }
  #seccion1 .filaseccion1 .filaseccion1Columna1 .text{
    max-width: 95%;
    color:white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;

  }
  #seccion1 .filaseccion1 .filaseccion1Columna1 .inputseccion1{
    width: 600px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    background: white;

    border-radius: 4px;
    border: 1px solid #757878;
  }
  #seccion1 .filaseccion1 .filaseccion1Columna1 .inputseccion1 input{
    width: calc(100% - 32px);
    border: none;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }
  #seccion1 .filaseccion1 .filaseccion1Columna1 .inputseccion1 input::placeholder{
    color: #3661A1;
  }
  #seccion1 .filaseccion1 .filaseccion1Columna1 .inputseccion1 input:focus{
    outline: none;
  }
  #seccion1 .filaseccion1 .filaseccion1Columna1 .inputseccion1 img{
    width: 27px;
    height: 27px;
    cursor: pointer;

  }
  #seccion1 .filaseccion1 .filaseccion1Columna2{

    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    margin-top: auto;

  }
  #seccion1 .filaseccion1 .filaseccion1Columna2 img{
    width: 300px;
    height: 300px;
  }
  #seccion1 .fila2seccion1{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    margin-left: 50%;
    margin-bottom: 4%;
    width: 100%;
  }
  #seccion1 .fila2seccion1 button{
    margin: 30px;
    margin-bottom: 40px;
    height: 30px;
    width: 150px;
    border-radius: 6px;
    border: none;
    background-color: #23B534;
    text-align: center;
    color: white;
    cursor: pointer;
  }


  /*Seccion2*/

#seccion2{

  height: 600px;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  align-items: center;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  background-color: f5d87b;
}

#seccion2 .columna1{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  width: 100%;
}

#seccion2 .columna1 p{
  font-weight: bolder;
  font-size: 90px;
  text-align: center;
  font-family: abe;
}

#seccion2 .columna2{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  align-items: center;

}

#seccion2 .columna2 img{

  width: 430px;

}

#seccion2 .columna3{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  width: 100%;
}

#seccion2 .columna3 p{
  font-weight: bolder;
  font-size: 90px;
  text-align: center;
  font-family: abe;

}

  /*Seccion3*/

#seccion3{

  height: 400px;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  align-items: center;
  justify-content: center;
  background-color: f3f5f4;
}

#seccion3 .info{

  width: 93%;

}

#seccion3 .info p{
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
  color: #0063a5;
  font-family: abe;

}

#seccion3 .info a{

  color: #00b71f;

}

}
